body {
  background-color: gray;
}

/*Class selectors*/
.jumbotron {
  text-align: center;
  border: 3px dashed black;
  background-color: silver;
}

.jumbotron h1 {
  text-shadow: 2px 3px 10px black;
  color: red;
}

.jumbotron h3 {
  font-style: italic;
}

.btn {
  margin-top: 20px;
  display: block;
}

.price {
  margin-left:20px;
}
/*ID Selectors*/
#ticket {
  display:none;
  font-size: 20px;
}

#movies {
  margin-bottom: 20px;
}
